.invisib{
  display: none;
}
.parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 100vh;
  width: 100vw;
}
div button{
  font-size: 32px;
}
#addingN{
  background-color: green;
  height: 70px;
  width: 70px;
}
#minusN{
  background-color: red;
  height: 70px;
  width: 70px;
}
#reset{
  height: 70px;
  width: 140px;
}

